<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="robots" content="index,follow">

    <title>
    {% if page.date %}
      {{ page.title }}
    {% else %}
      reform.debian.net
    {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}{{ site.baseurl }}/css/debhome.css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ site.url }}{{ site.baseurl }}/css/deb-raspi.css">
    <link rel="Index" href="/">
  </head>

  <body lang="en" dir="ltr">
    <div id="header">
      <div id="upperheader">
        <div id="logo">
          <a href="https://www.debian.org" title="Debian Homepage">
            <img src="{{ site.url }}{{ site.baseurl }}/Pics/openlogo-50.png" alt="Debian logo" width="50" height="61">
          </a>
        </div>
      </div>
      <div id="navbar">
        <ul style="text-align:center">
          <li><a href="{{ site.url }}{{ site.baseurl }}/"><img src="/Pics/google-noto-1f3e0-house.svg" style="margin:0em 2em"><br>Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/images"><img src="/Pics/google-noto-1f4be-floppy-disk.svg" style="margin:0em 2em"><br>System image</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/d-i"><img src="/Pics/google-noto-1f97e-hiking-boot.svg" style="margin:0em 2em"><br>Debian Installer</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/repo"><img src="/Pics/google-noto-1f4e6-package.svg" style="margin:0em 2em"></br>Package repository</a></li>
        </ul>
      </div>
    </div> <!-- end header -->
    <div id="content">
      <h1 id="locationline">
        {{ page.title }}
      </h1>

      {{ content }}

    </div> <!-- end content -->
    <div id="footer">
      <div class="lastmodif">This page was generated on
          <span class="date">{{"now" | date: "%Y-%m-%d %T %z" }}</span>
      </div>
      <p>
        For any issues with this website, contact Johannes Schauer Marin Rodrigues via <a href='mailto:josch@debian.org'>josch@debian.org</a> or <a href="https://salsa.debian.org/reform-team/reform.debian.net/-/issues">open an issue</a>.
      </p>
      <p>While <a href='mailto:josch@debian.org'>Johannes Schauer Marin Rodrigues</a> is a 
        <a href="https://wiki.debian.org/DebianDeveloper">Debian Developer</a>
        as well as a contributor on <a href="https://source.mnt.re/josch/">source.mnt.re</a>,
        the content provided here is neither an official <a href="https://www.debian.org">Debian</a> project
        nor is it an official resource by <a href="https://mntre.com/">MNT Research</a>.
      </p>
      <p>Hosting is kindly provided by the <a href="https://wiki.debian.org/Teams/DebianNet">debian.net team</a>.</p>
      <p>Source code:  
        <a href="https://salsa.debian.org/reform-team/reform.debian.net/">this website</a> |
        <a href="https://salsa.debian.org/reform-team/reform-system-image/">script that builds the SD-card images</a> |
        <a href="https://salsa.debian.org/reform-team/reform-debian-installer/">script that builds the Debian Installer image</a> |
        <a href="https://salsa.debian.org/reform-team/reform-debian-packages/">script that builds the patched Debian packages</a>
      </p>
      <div class="license">
        <p>
          <a href="https://creativecommons.org/licenses/by/4.0/">
            <img src="{{ site.url }}{{ site.baseurl }}/Pics/cc-by-88x31.png" alt="CC BY 4.0 logo" width="88" height="31" />
          </a><br/>
          Content in this site is licensed under the 
          <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons BY 4.0 license</a> with copyright by Gunnar Wolf and Johannes Schauer Marin Rodrigues.
        </p>
      </div>
    </div> <!-- end footer -->
  </body>
</html>

